<div class="row">
  @if(isNewUser == false) {
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-warning">
          <div class="row">
            <div class="col-6">
              <h3>User List</h3>
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-success" (click)="changeView()">Add New User</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            @for (user of userList; track $index) {
              <div class="col-3">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{user.fName}} {{user.lName}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
                    <p class="card-text">{{user.city}}, {{user.state}}, {{user.zip}}</p>
                    <a href="#" class="card-link" (click)="onEdit(user)">Edit</a>
                    <a href="#" class="card-link" (click)="onDelete(user.userId)">Delete</a>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  } @else {
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-warning">
          <div class="row">
            <div class="col-6">
              <h3>New User</h3>
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-success" (click)="changeView()">List View</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="needs-validation" novalidate>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">First name</label>
                <input type="text" [(ngModel)]="userObj.fName" name="fName" class="form-control" id="validationCustom01" placeholder="First name" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom02">Last name</label>
                <input type="text" [(ngModel)]="userObj.lName" name="lName" class="form-control" id="validationCustom02" placeholder="Last name" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustomUsername">Username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                  </div>
                  <input type="text" [(ngModel)]="userObj.username" name="username" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    Please choose a username.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationCustom03">City</label>
                <input type="text" [(ngModel)]="userObj.city" name="city" class="form-control" id="validationCustom03" placeholder="City" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom04">State</label>
                <input type="text" [(ngModel)]="userObj.state" name="state" class="form-control" id="validationCustom04" placeholder="State" required>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom05">Zip</label>
                <input type="text" [(ngModel)]="userObj.zip" name="zip" class="form-control" id="validationCustom05" placeholder="Zip" required>
                <div class="invalid-feedback">
                  Please provide a valid zip.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="userObj.isAgree" name="isAgree" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            @if(userObj.userId == 0){
              <button class="btn btn-primary" type="submit" (click)="onSave()">Submit form</button>
            } @else {
              <button class="btn btn-warning" type="submit" (click)="onUpdate()">Update form</button>
            }
            
          </form>
          
          <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
          </script>
        </div>
      </div>
    </div>
  }
</div>